<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Maxter_Management.Properties.Settings.MaxterDBConnectionString" connectionString="Data Source=DESKTOP-F057AI0\SQLEXPRESS;Initial Catalog=MaxterDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>